<a href="https://colab.research.google.com/github/iamaksHub/Pandas/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# titanic data git
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
# 1.find ou how many male and female passengers was onboarded.
(len(df[df['Sex']=="male"].index),
len(df[df['Sex']=="female"].index))

# or apply group by and count function

# or

df['Sex'].value_counts() #performs both group by and count operation

male      577
female    314
Name: Sex, dtype: int64

In [4]:
(len(df[df['Sex']=="male"]),
len(df[df['Sex']=="female"]))

(577, 314)

In [5]:
df.groupby('Sex').count()  #on each n every column

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Sex,,,,,,,,,,,
female,314,314,314,314,261,314,314,314,314,97,312
male,577,577,577,577,453,577,577,577,577,107,577

In [6]:
df.groupby('Sex')['Sex'].count()

Sex
female    314
male      577
Name: Sex, dtype: int64

In [7]:
# 2.how many survived we have
len(df[df['Survived']==1])
# len(df[df['Survived']==1].index)

342

In [8]:
df["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [9]:
#3.how many casuality we have(count of 0 in survived column)
len(df[df['Survived']==0].index)

549

In [10]:
# 4.what is name of a person who is the eldest one.(age)
ind=df[df['Age']==max(df['Age'])].index
df.loc[ind]['Name']

630    Barkworth, Mr. Algernon Henry Wilson
Name: Name, dtype: object

In [11]:
df[df['Age']==df['Age'].max()]['Name']

630    Barkworth, Mr. Algernon Henry Wilson
Name: Name, dtype: object

In [12]:
df[df['Age']==max(df['Age'])]['Name']

630    Barkworth, Mr. Algernon Henry Wilson
Name: Name, dtype: object

In [13]:
# 5.how many passenger do we have in first,second and third class(pclass)
(len(df[df['Pclass']==1].index),len(df[df['Pclass']==2].index),len(df[df['Pclass']==3].index))

(216, 184, 491)

In [14]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [15]:
df.groupby('Pclass')['Pclass'].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64

In [16]:
# 6.how many person we have whose name starts with "s"
len(df[df['Name'].str.startswith("S")])

86

In [17]:
# 7.try to create a new column which is a summation of "SibSp" and "parch"
df["SibSpParch"] = df["SibSp"] + df["Parch"]

In [18]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,SibSpParch
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [19]:
# 8.how many person do we have below age of 25
len(df[df['Age']<25 ])

278

In [20]:
# 9.how many person dies whose age was less than 40(age n survived)
ind1 = df[df['Age'] < 40].index
ind2 = df.loc[ind1][df.loc[ind1]['Survived'] == 0].index
# the entire expression df.loc[ind1][df.loc[ind1]['Survived'] == 1].index ultimately provides the
# index labels of rows where both conditions ('Age' less than 40 and 'Survived' equal to 1) are met.
df.loc[ind2]

# or
ind1 = df[df['Age'] < 40].index
ind2 = df.loc[ind1]['Survived'] == 0
df.loc[ind1][ind2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,SibSpParch
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S,4
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.050,NaN,S,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,NaN,S,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q,5
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q,0

In [21]:
len(df[(df['Survived']==0)& (df["Age"]<40)])

322

In [22]:
# 10.from a cabin column seperate text and numeric value
df['cabin_text']=(df['Cabin'].str.extract(r'([a-zA-Z]+)'))
df['cabin_num']=(df['Cabin'].str.extract(r'(\d+)'))

In [23]:
import re
replace=re.compile("([a-zA-Z]+)")
df['cabin_text']=df['Cabin'].str.extract(replace)
df['cabin_num']=df['Cabin'].str.extract(replace,"") #if string replace it with empty string

In [24]:
df2=pd.DataFrame(df.Cabin.str.split('([a-zA-Z]+)([^a-zA-])'))

In [25]:
df2

            Cabin
0             NaN
1     [, C, 8, 5]
2             NaN
3    [, C, 1, 23]
4             NaN
..            ...
886           NaN
887   [, B, 4, 2]
888           NaN
889  [, C, 1, 48]
890           NaN

[891 rows x 1 columns]