<a href="https://colab.research.google.com/github/iamaksHub/Pandas/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('bank.csv',sep=';')

In [4]:
# 1.how many campaign available in this dataset(extract distinct campaigns ,use set)
ind=df['campaign'].values
len(set(ind))

32

In [5]:
len(df['campaign'].unique())

32

In [6]:
len(set(list(df['campaign'])))

32

In [7]:
# 2.how many users do we have with housing and personal loan
ind1=df[df['housing']=='yes'].index
len(df.loc[ind1][df.loc[ind1]['loan']=='yes'].index)

406

In [8]:
len(df[(df['housing']=='yes')&(df['loan']=='yes')])

406

In [9]:
# 3.how many persons do we have whose age is 60+.
len(df[df['age']>60])

127

In [10]:
# 4.in which month we have targeted most of the customer.
df['month'].unique()

array(['oct', 'may', 'apr', 'jun', 'feb', 'aug', 'jan', 'jul', 'nov',
       'sep', 'mar', 'dec'], dtype=object)

In [11]:
df['month'].value_counts()

may    1398
jul     706
aug     633
jun     531
nov     389
apr     293
feb     222
jan     148
oct      80
sep      52
mar      49
dec      20
Name: month, dtype: int64

In [12]:
df['month'].value_counts().max()

1398

In [13]:
df['month'].value_counts().index[0]

'may'

In [14]:
# 5.which mode of call is giving you more result
(len(df[df['contact']=='cellular']),
len(df[df['contact']=='unknown']))

(2896, 1324)

In [15]:
df_groupby=df.groupby(['contact','y']).count()

In [16]:
df_groupby

                age   job  marital  education  default  balance  housing  \
contact   y
cellular  no   2480  2480     2480       2480     2480     2480     2480
          yes   416   416      416        416      416      416      416
telephone no    257   257      257        257      257      257      257
          yes    44    44       44         44       44       44       44
unknown   no   1263  1263     1263       1263     1263     1263     1263
          yes    61    61       61         61       61       61       61

               loan   day  month  duration  campaign  pdays  previous  \
contact   y
cellular  no   2480  2480   2480      2480      2480   2480      2480
          yes   416   416    416       416       416    416       416
telephone no    257   257    257       257       257    257       257
          yes    44    44     44        44        44     44        44
unknown   no   1263  1263   1263      1263      1263   1263      1263
          yes    61    61     61        61        61     61        61

               poutcome
contact   y
cellular  no       2480
          yes       416
telephone no        257
          yes        44
unknown   no       1263
          yes        61

In [17]:
df_groupby.loc['cellular','yes'][0]

416

In [18]:
df_groupby.loc['telephone','yes'][0]

44

In [19]:
df_groupby.loc['unknown','yes'][0]

61

In [20]:
max(df_groupby.loc['cellular','yes'][0],df_groupby.loc['telephone','yes'][0],df_groupby.loc['unknown','yes'][0])

416

In [21]:
df['contact'].value_counts()

cellular     2896
unknown      1324
telephone     301
Name: contact, dtype: int64

In [22]:
max(len(df[df['contact']=='cellular'].index),
len(df[df['contact']=='unknown'].index))

2896

In [23]:
# 6.how many enterpreneurs do v have in this list
len(df[df['job']=='entrepreneur'])

168

In [24]:
# 7.how many customers do v have with negative balance
len(df[df['balance']<0])

366

In [25]:
len(df[df.balance<0])

366

In [26]:
# 8.prepare a group of data based on education level
l=[]
for i in df['education'].unique():
    l.append(df[df['education']==i])
len(l)
for i in l:
    print(i)

      age            job   marital education default  balance housing loan  \
0      30     unemployed   married   primary      no     1787      no   no
9      43       services   married   primary      no      -88     yes  yes
18     25    blue-collar    single   primary      no     -221     yes   no
26     55    blue-collar   married   primary      no      627     yes   no
36     78        retired  divorced   primary      no      229      no   no
...   ...            ...       ...       ...     ...      ...     ...  ...
4480   23    blue-collar   married   primary      no     1158     yes   no
4485   53    blue-collar   married   primary      no      238     yes   no
4486   37    blue-collar   married   primary      no      378     yes   no
4499   45    blue-collar  divorced   primary      no      942      no   no
4503   60  self-employed   married   primary      no      362      no  yes

        contact  day month  duration  campaign  pdays  previous poutcome    y
0      cellular   19   oct        79         1     -1         0  unknown   no
9      cellular   17   apr       313         1    147         2  failure   no
18      unknown   23   may       250         1     -1         0  unknown   no
26      unknown    5   may       247         1     -1         0  unknown   no
36    telephone   22   oct        97         1     -1         0  unknown  yes
...         ...  ...   ...       ...       ...    ...       ...      ...  ...
4480   cellular   16   apr       743         1     -1         0  unknown   no
4485   cellular   11   may       238         2    361         5  failure   no
4486    unknown    9   may       514         1     -1         0  unknown   no
4499   cellular   21   nov       362         1     -1         0  unknown   no
4503   cellular   29   jul       816         6     -1         0  unknown  yes

[678 rows x 17 columns]
      age          job  marital  education default  balance housing loan  \
1      33     services  married  secondary      no     4789     yes  yes
4      59  blue-collar  married  secondary      no        0     yes   no
7      39   technician  married  secondary      no      147     yes   no
10     39     services  married  secondary      no     9374     yes   no
11     43       admin.  married  secondary      no      264     yes   no
...   ...          ...      ...        ...     ...      ...     ...  ...
4514   38  blue-collar  married  secondary      no     1205     yes   no
4515   32     services   single  secondary      no      473     yes   no
4516   33     services  married  secondary      no     -333     yes   no
4518   57   technician  married  secondary      no      295      no   no
4519   28  blue-collar  married  secondary      no     1137      no   no

       contact  day month  duration  campaign  pdays  previous poutcome   y
1     cellular   11   may       220         1    339         4  failure  no
4      unknown    5   may       226         1     -1         0  unknown  no
7     cellular    6   may       151         2     -1         0  unknown  no
10     unknown   20   may       273         1     -1         0  unknown  no
11    cellular   17   apr       113         2     -1         0  unknown  no
...        ...  ...   ...       ...       ...    ...       ...      ...  ..
4514  cellular   20   apr        45         4    153         1  failure  no
4515  cellular    7   jul       624         5     -1         0  unknown  no
4516  cellular   30   jul       329         5     -1         0  unknown  no
4518  cellular   19   aug       151        11     -1         0  unknown  no
4519  cellular    6   feb       129         4    211         3    other  no

[2306 rows x 17 columns]
      age            job   marital education default  balance housing loan  \
2      35     management    single  tertiary      no     1350     yes   no
3      30     management   married  tertiary      no     1476     yes  yes
5      35     management    single  tertiary      no      747      no   no
6      36  self-employed   married  tertiary      no      307     yes   no
8      41   entrepreneur   married  tertiary      no      221     yes   no
...   ...            ...       ...       ...     ...      ...     ...  ...
4501   34     management   married  tertiary      no      297     yes   no
4506   42     unemployed  divorced  tertiary      no     -166      no   no
4509   51     technician   married  tertiary      no     2506      no   no
4517   57  self-employed   married  tertiary     yes    -3313     yes  yes
4520   44   entrepreneur    single  tertiary      no     1136     yes  yes

       contact  day month  duration  campaign  pdays  previous poutcome   y
2     cellular   16   apr       185         1    330         1  failure  no
3      unknown    3   jun       199         4     -1         0  unknown  no
5     cellular   23   feb       141         2    176         3  failure  no
6     cellular   14   may       341         1    330         2    other  no
8      unknown   14   may        57         2     -1         0  unknown  no
...        ...  ...   ...       ...       ...    ...       ...      ...  ..
4501  cellular   26   aug        63         4     -1         0  unknown  no
4506  cellular   29   aug        85         4     -1         0  unknown  no
4509  cellular   30   nov       210         3     -1         0  unknown  no
4517   unknown    9   may       153         1     -1         0  unknown  no
4520  cellular    3   apr       345         2    249         7    other  no

[1350 rows x 17 columns]
      age          job   marital education default  balance housing loan  \
20     38   management  divorced   unknown      no        0     yes   no
27     67      retired   married   unknown      no      696      no   no
49     61       admin.   married   unknown      no     4629     yes   no
132    43  blue-collar   married   unknown     yes     -715     yes   no
133    48       admin.   married   unknown      no        0     yes   no
...   ...          ...       ...       ...     ...      ...     ...  ...
4337   73      retired   married   unknown      no      519      no   no
4342   50  blue-collar   married   unknown      no     2284     yes   no
4428   48  blue-collar   married   unknown      no      439     yes   no
4471   59   management   married   unknown      no     3534      no   no
4508   42       admin.   married   unknown      no      642     yes  yes

        contact  day month  duration  campaign  pdays  previous poutcome    y
20     cellular   18   nov        96         2     -1         0  unknown   no
27    telephone   17   aug       119         1    105         2  failure   no
49     cellular   27   jan       181         1     92         1  success  yes
132     unknown   30   may        67         3     -1         0  unknown   no
133    cellular    8   may        85         1    168         2  failure   no
...         ...  ...   ...       ...       ...    ...       ...      ...  ...
4337  telephone   16   oct       434         1     57         1  failure  yes
4342  telephone   31   jul      1088        17     -1         0  unknown  yes
4428   cellular    2   feb       212         1    249         2    other   no
4471   cellular   21   nov       216         4     -1         0  unknown   no
4508    unknown   16   may       509         2     -1         0  unknown   no

[187 rows x 17 columns]

In [27]:
df_p=df[df['education']=='primary']

In [28]:
df_p

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4480,23,blue-collar,married,primary,no,1158,yes,no,cellular,16,apr,743,1,-1,0,unknown,no
4485,53,blue-collar,married,primary,no,238,yes,no,cellular,11,may,238,2,361,5,failure,no
4486,37,blue-collar,married,primary,no,378,yes,no,unknown,9,may,514,1,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes

In [29]:
df_s=df[df['education']=='secondary']

In [30]:
df_s

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no

In [31]:
df_t=df[df['education']=='tertiary']

In [32]:
df_t

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [33]:
df_u=df[df['education']=='unknown']

In [34]:
df_u

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
27,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119,1,105,2,failure,no
49,61,admin.,married,unknown,no,4629,yes,no,cellular,27,jan,181,1,92,1,success,yes
132,43,blue-collar,married,unknown,yes,-715,yes,no,unknown,30,may,67,3,-1,0,unknown,no
133,48,admin.,married,unknown,no,0,yes,no,cellular,8,may,85,1,168,2,failure,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4337,73,retired,married,unknown,no,519,no,no,telephone,16,oct,434,1,57,1,failure,yes
4342,50,blue-collar,married,unknown,no,2284,yes,no,telephone,31,jul,1088,17,-1,0,unknown,yes
4428,48,blue-collar,married,unknown,no,439,yes,no,cellular,2,feb,212,1,249,2,other,no
4471,59,management,married,unknown,no,3534,no,no,cellular,21,nov,216,4,-1,0,unknown,no
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no